#productos .badge{
    font-size: 1.2em !important;
}
body{
}
#logo{
    max-width: 100px;
}
.navbar{
    border-bottom: 1px solid grey
}
#navBarButton:focus {
    outline: 1px dotted;
    outline: 2px solid cyan;
}
#productos {
    margin-top: 70px;
    background: linear-gradient(180deg, white 80%, #1e537294)
}
#productos img{
    filter: blur(50%)
}
#productos h3{
    text-shadow: 2px 1px 1px gray;
}
.card{
    border-radius: 1em
}
#productos .card-img-overlay{
    transition: .3s;
    padding: 0;
    border: 1px solid grey;
    border-radius: 1em;
    display: flex;
    align-items: flex-end
}
#productos img{
    object-fit: cover
}
#productos .card-img-overlay:hover{
    background: rgba(0, 0, 0, 0.3);
}

#quienesSomos h2,
#quienesSomos h5{
    color:white;
    text-shadow: 1px 1px 1px black

}
#contacto,footer{
    background: linear-gradient(90deg,#1c3643,#273b47 40%,#1e5372)
}
#contacto small,
#contacto h2{
    color: white;
    text-shadow: 1px 1px 1px black
}
footer{
    color: whitesmoke;
    font-size: 1.2em
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row
}

.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #1c3643;
  transition: .2s
}
.btn-VG{
    background: #1e5372;
    color: white
}
.modal .carousel-inner{
    background: #1e53724b;
    border-radius: 35px;
}
.modal img{
    max-width: 300px;
}
.modal ol{
    margin-bottom: 0
}
.modal .carousel-indicators li {
    width: 48px;
    height: 2px;
    background-color: #4787ac;
}
.modal .carousel-indicators .active {
    width: 48px;
    height: 2px;
    background-color: #1e5372;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #1c3643;
}
.carousel-control-prev-icon:after
{
  content: '<';
  font-size: 55px;
  color:#1c3643;
}