body{
}
#logo{
    max-height: 45px;
    object-fit: fill
}
#hero .carousel-inner img{
    height: 80vh;
    object-fit: contain;
    filter: grayscale(25%);
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372)
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white
}
.overlay .container-fluid,
.overlay .container-fluid .row{
    height: 100%;
}
.overlay p,
.overlay h1{
    text-shadow: 1px 1px 1px black
}
#productos img{
    filter: blur(50%)
}
#productos h3{
    text-shadow: 2px 1px 1px black;
}
#productos .card-img-overlay{
    background: rgba(0, 0, 0, 0.4);
    transition: .3s
}
#productos img{
    object-fit: contain
}
#productos .card-img-overlay .container,
#productos .card-img-overlay .container .row{
    height: 100%;
}
#productos .card-img-overlay:hover{
    background: rgba(12, 123, 255, 0.4);
}
#quienesSomos{
    background: #273b47
}
#quienesSomos img{
    object-fit: contain;
    max-height: 300px;
    width: 100%
}
#quienesSomos h2,
#quienesSomos h5{
    color:white
}
