body{
}
#logo{
    max-width: 100px;
}
.navbar{
    border-bottom: 1px solid grey
}
#navBarButton:focus {
    outline: 1px dotted;
    outline: 2px solid cyan;
}
#hero .carousel-inner img{
    height: 80vh;
    object-fit: cover;
    filter: grayscale(25%);
    background: #273b47
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 1px black

}
.overlay .container-fluid,
.overlay .container-fluid .row{
    height: 100%;
}
.overlay p,
.overlay h1{
    text-shadow: 1px 1px 1px black
}
#productos img{
    filter: blur(50%)
}
#productos h2{
    text-shadow: 2px 1px 1px gray;
}
#productos h3{
    text-shadow: 2px 1px 1px black;
}
.card{
    border-radius: 1em
}
#productos .card-img-overlay{
    background: rgba(0, 0, 0, 0.4);
    transition: .3s;
    padding: 0;
    border-radius: 1em
}
#productos img{
    object-fit: cover
}
#productos .card-img-overlay .container,
#productos .card-img-overlay .container .row{
    height: 100%;
}
#productos .card-img-overlay:hover{
    background: rgba(12, 123, 255, 0.4);
}
#quienesSomos{
    background-color: #343a40
    

}
#quienesSomos img{
    object-fit: contain;
    max-height: 300px;
    width: 100%
}
#quienesSomos h2,
#quienesSomos h5{
    color:white;
    text-shadow: 1px 1px 1px black

}
#contacto,footer{
    background: linear-gradient(90deg,#1c3643,#273b47 40%,#1e5372)
}
#contacto small,
#contacto h2{
    color: white;
    text-shadow: 1px 1px 1px black
}
footer{
    color: whitesmoke;
    font-size: 1.2em
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row
}
